.main-page {
  background-color: rgba(199, 255, 255, 0.605);
}

.row-container {
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  height: 20vh;
}

.item-container {
  background-color: #985626;
  border: 5px solid #5b2f10;
  flex: 0 1 20vw;
  height: 16vh;
  color: rgb(255, 248, 235);
  font-size: 1.2rem;
  text-align: center;
  line-height: 14vh;
}

.item-container a {
  text-decoration: none;
}

.item-container a:visited {
  color: white;
}
